@font-face {
    font-family: "AlterAves";
    src: url("fonts/alter-aves.otf");
}

@font-face {
    font-family: "Gerbera-Medium";
    src: url("fonts/Gerbera-Medium.otf");
}

:root {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Montserrat";
    user-select: none;
    transition: all .5s;
}

input,
textarea {
    resize: none;

    &:focus {
        outline: none;
    }
}

button {
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

p,
h1 {
    margin: 0;
}

a,
button {
    @media (hover: none) {
        background-color: none;
    }

    &:active {
        background-color: none;
    }
}